/* variables */
/* ----------------------------------------- */
	$font-pri:    "Metric Test Regular"; 

	$color-pri:     #000000;
	$color-sec:     #2e37fe;
	$color-ter:     #C4C4C4;
  $color-qua:     #E6E6E6;

  $bf-colors: (
    pri: $color-pri,
    sec: $color-sec,
    ter: $color-ter,
    qua: $color-qua
  ) !default;

  $bf-colors: (
    pri: $font-pri
  ) !default;
/* ----------------------------------------- variables */

/* 	classes  */
/* ----------------------------------------- */
  .font-pri  { font-family: $font-pri; }
  
  .color-pri { color: $color-pri; }
  .color-sec { color: $color-sec; }
  .color-ter { color: $color-ter; }
  .color-qua { color: $color-qua; }
/* ----------------------------------------- 	classes */

/* general mixins and functions */
/* ----------------------------------------- */
  @function bf-color($key: "pri") {
    @return map-get($bf-colors, $key);
  }

  @function bf-background($key: "pri") {
    @return map-get($bf-colors, $key);
  }

  @function bf-font($key: "first") {
    @return map-get($bf-fonts, $key);
  }

  @mixin flex($value) {
    flex: 0 0 $value;
    max-width: $value;
  }

  @mixin text-gradient($dir, $from, $to) {
    background: -webkit-linear-gradient($dir, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

	@mixin columns($qtd: 2) {
		@include media-breakpoint-down(sm) {
			-webkit-column-count: $qtd;
		  -moz-column-count: $qtd;
		  column-count: $qtd;
		}
	}

	@mixin cover() {
	  -webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important;
	  background-size: cover !important;
	}

	@mixin contain() {
	  -webkit-background-size: contain !important;
	  -moz-background-size: contain !important;
	  -o-background-size: contain !important;
	  background-size: contain !important;
	}

	@mixin h1() { font-size: $h1-font-size; }
	@mixin h2() { font-size: $h2-font-size; }
	@mixin h3() { font-size: $h3-font-size; }
	@mixin h4() { font-size: $h4-font-size; }
	@mixin h5() { font-size: $h5-font-size; }
	@mixin h6() { font-size: $h6-font-size; }

	@mixin thin()   	{ font-family: "Metric Test Thin" !important; }
	@mixin light()  	{ font-family: "Metric Test Light" !important; }
	@mixin normal()  	{ font-family: "Metric Test Regular" !important; }
	@mixin medium()   { font-family: "Metric Test Medium" !important; }
	@mixin semi()    	{ font-family: "Metric Test Semibold" !important; }
	@mixin bold()    	{ font-family: "Metric Test Bold" !important; }
  @mixin black()   	{ font-family: "Metric Test Black" !important; }

  .font-thin    { @include thin; }
  .font-light   { @include light; }
  .font-normal  { @include normal; }
  .font-medium  { @include medium; }
  .font-semi    { @include semi; }
  .font-bold    { @include bold; }
  .font-black   { @include black; }

	// Font size rem
	@function calculateRem($size) {
	  $remSize: $size / 16px;
	  @return #{$remSize}rem;
	}

	@mixin font($size) {
	  font-size: $size;
	  font-size: calculateRem($size);
	}

	@mixin radius($px) {
	  -webkit-border-radius: $px;
	  -moz-border-radius: $px;
	  -ms-border-radius: $px;
	  border-radius: $px;
  }
  
  @mixin pseudo() {
    display: block;
    content: '';
	}

	@mixin placeholder {
	  &.placeholder { @content; }
	  &:-moz-placeholder { @content; }
	  &::-moz-placeholder { @content; }
	  &::-webkit-input-placeholder { @content; }
  }

  @mixin global-animation() {
    animation-fill-mode: both;
  }
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.6);
    }
    100% {
     transform: rotate(360deg) scale(1);
   }
  }

	@-webkit-keyframes load {
	  0%, 80%, 100% {
	    box-shadow: 0 0;
	    height: 1em;
	  } 40% {
	    box-shadow: 0 -2em;
	    height: 1.5em;
	  }
	}

	@keyframes load {
	  0%, 80%, 100% {
	    box-shadow: 0 0;
	    height: 1em;
	  } 40% {
	    box-shadow: 0 -2em;
	    height: 1.5em;
	  }
	}
/* ----------------------------------------- general mixins and functions */

/* 	custom container widths  */
/* ----------------------------------------- */
$f-xs: 100%;
$f-sm: map-get($container-max-widths, 'sm');
$f-md: map-get($container-max-widths, 'ms');
$f-lg: map-get($container-max-widths, 'lg');
$f-xl: map-get($container-max-widths, 'xl');
/* ----------------------------------------- 	custom container widths */