@font-face {
  font-family:"Metric Test Thin";
  src:url("../fonts/metric/MetricTest-Thin.woff2") format("woff2"),url("../fonts/metric/MetricTest-Thin.woff") format("woff"),url("../fonts/metric/MetricTest-Thin.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Thin Italic";
  src:url("../fonts/metric/MetricTest-ThinItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-ThinItalic.woff") format("woff"),url("../fonts/metric/MetricTest-ThinItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Light";
  src:url("../fonts/metric/MetricTest-Light.woff2") format("woff2"),url("../fonts/metric/MetricTest-Light.woff") format("woff"),url("../fonts/metric/MetricTest-Light.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Light Italic";
  src:url("../fonts/metric/MetricTest-LightItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-LightItalic.woff") format("woff"),url("../fonts/metric/MetricTest-LightItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Regular";
  src:url("../fonts/metric/MetricTest-Regular.woff2") format("woff2"),url("../fonts/metric/MetricTest-Regular.woff") format("woff"),url("../fonts/metric/MetricTest-Regular.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Regular Italic";
  src:url("../fonts/metric/MetricTest-RegularItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-RegularItalic.woff") format("woff"),url("../fonts/metric/MetricTest-RegularItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Medium";
  src:url("../fonts/metric/MetricTest-Medium.woff2") format("woff2"),url("../fonts/metric/MetricTest-Medium.woff") format("woff"),url("../fonts/metric/MetricTest-Medium.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Medium Italic";
  src:url("../fonts/metric/MetricTest-MediumItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-MediumItalic.woff") format("woff"),url("../fonts/metric/MetricTest-MediumItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Semibold";
  src:url("../fonts/metric/MetricTest-Semibold.woff2") format("woff2"),url("../fonts/metric/MetricTest-Semibold.woff") format("woff"),url("../fonts/metric/MetricTest-Semibold.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Semibold Italic";
  src:url("../fonts/metric/MetricTest-SemiboldItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-SemiboldItalic.woff") format("woff"),url("../fonts/metric/MetricTest-SemiboldItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Bold";
  src:url("../fonts/metric/MetricTest-Bold.woff2") format("woff2"),url("../fonts/metric/MetricTest-Bold.woff") format("woff"),url("../fonts/metric/MetricTest-Bold.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Bold Italic";
  src:url("../fonts/metric/MetricTest-BoldItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-BoldItalic.woff") format("woff"),url("../fonts/metric/MetricTest-BoldItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Black";
  src:url("../fonts/metric/MetricTest-Black.woff2") format("woff2"),url("../fonts/metric/MetricTest-Black.woff") format("woff"),url("../fonts/metric/MetricTest-Black.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}

@font-face {
  font-family:"Metric Test Black Italic";
  src:url("../fonts/metric/MetricTest-BlackItalic.woff2") format("woff2"),url("../fonts/metric/MetricTest-BlackItalic.woff") format("woff"),url("../fonts/metric/MetricTest-BlackItalic.otf") format("opentype");
  font-style:normal;font-weight:400;font-display: swap;
}



.mt-regular {
  font-family: 'Metric Test Regular', 'sans-serif';
}