/* banner */
/* ----------------------------------------- */
body {
  &:not(.home) {
    .main-header { margin-bottom: 2em; }
  }
}
#fe-home {
  &-wrapper {

    position: relative;
    #fe-home {
      background: transparent;
      .slick-slide {
        min-height: calc(100vh - 57px);
        display: flex;
        align-items: center;
        justify-content: center;

        .slick-content {
        //  padding: 0 20px;
          position: absolute;
          width: 100%;
          height: 100%;
          
          img {
            object-fit: contain;
            object-position: center center;
            width: 100%;
            height: 100%;
          }
        }
      }   
    }

    @include media-breakpoint-up(md) {
      
      .slick-content {
        position: relative;
        height: 100%;
      }

      #fe-home {
        .slick-slide {
          justify-content: left;      
        }
      }
    }

    @include media-breakpoint-up(lg) {
      #fe-home .slick-slide {
        min-height: initial;
        height: calc(100vh - (97px));
        img {
          height: inherit;
        }
      }
    }

    @include media-breakpoint-up(xl) {

      #fe-home {
        .slick-slide {
          height: calc(100vh - (115px));
      //     img {
      //       max-height: calc(100vh - (115px + (3rem * 3)));
      //     }
        }
      }

      // .slick-content {
      //   img {
      //     max-height: 750px;
      //   }
      // }

    }

    @include media-breakpoint-up(fu) {
      #fe-home .slick-slide {         
        height: calc(100vh - (124px));
      //   img {
      //     max-height: calc(100vh - (132px + (3rem * 3)));
      //   }
      }
    }

  }

  &-navigation {
    background-color: white;
    padding: 12px;
    position: absolute;
    bottom: 5vh;
    left: 15px; 
    right: 15px;
    display: flex;      
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 585px;

    .content {
      text-align: right;      

      h1 {
        font-size: 18px;
        margin-bottom: 0;
      }

      span {
        color: bf-color('ter');
      }

      p {
        margin: 0;
      }

      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }

    .arrows {
      position: absolute;
      top: 0; right: 0;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      padding-bottom: 30px;
      width: 110px; height: 100%;

      button {
        position: relative;
        top: inherit;
        right: inherit;
        left: inherit;
        color: transparent;
        width: 20px;
        height: 43px;

        &.slick-prev {
          margin-right: 40px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      bottom: 32px;
      left: inherit; 
      right: 40px;
      padding: 23px 40px 26px 40px;
      
      &.has-arrows {
        padding-right: 130px;
      }
      
    }
    
    @include media-breakpoint-up(fu) {
      min-width: 450px;

      &.has-arrows {
        right: 48px;
        padding-right: 140px;
      }

      .content {
        h1, span, p {
          @include font(24px);
        }
      }
    }

    @media (min-width: 1750px) {
      &.has-arrows {
        padding: 23px 140px 24px 50px;
      }
    }
  }

  &.slick-initialized .slick-track {
    display: flex;
    align-items: center;
  }
}
/* ----------------------------------------- banner */

/* 	artists  */
/* ----------------------------------------- */
  .s__artists {
    .slick-slider {
      .slick-prev,
      .slick-next {
        top: -75px;
        opacity: 1;
        z-index: 50;

        &.slick-disabled {
          opacity: .5;
        }
      }
    }

    @include media-breakpoint-up(fu) {
      .slick-slide {
        a {
          font-size: 20px;
        }
      }
    }

  }
/* ----------------------------------------- 	artists */

/* 	news  */
/* ----------------------------------------- */
  .s__news {  
    
    @include media-breakpoint-up(lg) {      
      .slick-prev, .slick-next {
        top: 10px;
      }
    }
    @include media-breakpoint-up(fu) {      
      .slick-prev, .slick-next {
        top: 15px;
      }
    }
    
    .slider-news {
      margin-left: 15px;
      .slick-slide {
        margin-right: 15px;        
      }
      
      .slick-slide, article {
        max-width: calc((100vw - 60px));
      }
      @include media-breakpoint-up(sm) {
        $view-container : map-get($container-max-widths, sm);
        margin-left: calc((100vw - #{$view-container} + 15px)/2);
        .slick-slide, article {
          max-width: calc((#{$view-container} - 120px));
        }
      } // @include media-breakpoint-up(sm)

      @include media-breakpoint-up(md) {
        $view-container : map-get($container-max-widths, md);        
        margin-left: calc((100vw - #{$view-container} + 15px)/2);

        .slick-slide, article {
          max-width: calc((#{$view-container} - 120px));
        }

        .slick-slide {
          margin-right: 30px;
        }

        .slick-track {
          display: flex;
      
          .slick-slide{
            display: flex;
            height: auto;
            .media-body {
              justify-content: center !important;
            }
          }
        }
        
      } // @include media-breakpoint-up(md)

      @include media-breakpoint-up(lg) {
        $view-container : map-get($container-max-widths, lg);
        margin-left: calc((100vw - #{$view-container} + 15px)/2);
        .slick-dots { width: $view-container; }
        
        .slick-slide, article {
          max-width: calc((#{$view-container} - 120px));
        }
        
        .slick-list {
          max-width : calc( #{$view-container} - 30px);

          position: relative;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            // border: 1px solid red;
            width: 75px;
            height: 100%;

            background: rgb(255,255,255);
            background: rgb(255,255,255);
            background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

          }
        }

      } // @include media-breakpoint-up(lg)
      
      @include media-breakpoint-up(xl) {
        $view-container : map-get($container-max-widths, xl);
        margin-left: calc((100vw - #{$view-container} + 15px)/2);
        .slick-dots { width: $view-container; }
        
        .slick-slide, article {
          max-width: calc((#{$view-container} * 0.8) - 120px);
        }
        
        article {
          padding: 30px;
        }

        .slick-list {
          max-width : calc( #{$view-container} - 30px);
        }

        .block__post figure {
          width: 40%;
          margin-right: 5%;
        }
      } // @include media-breakpoint-up(lg)
      
      @include media-breakpoint-up(fu) {
        $view-container : map-get($container-max-widths, fu);
        margin-left: calc((100vw - #{$view-container} + 15px)/2);
        .slick-dots { width: $view-container; }

        .slick-list {
          max-width : calc( #{$view-container} - 30px);
        }

      } // @include media-breakpoint-up(fu)
      
      @include media-breakpoint-up(fi) {
        $view-container : map-get($container-max-widths, fi);
        margin-left: calc((100vw - #{$view-container} + 15px)/2);
        .slick-dots { width: $view-container; }

        .slick-list {
          max-width : calc( #{$view-container} - 30px);
        }

      } // @include media-breakpoint-up(fi)

    }    
  }
/* ----------------------------------------- 	news */