/* 	blocks  */
/* ----------------------------------------- */
  .block {
    &__post {
      border: 1px solid $color-ter;
      padding: 20px;

      figure {
        width: 100%;

        .thumb {
          max-height: 200px;
          position: relative;

          img {
            max-height: 200px;
            width: auto;
          }

          .tag {
            position: absolute;
            bottom: 0; left: 0;
            width: 115px;
            height: 41px;

            img {
              height: auto;
              max-height: 100%;
              width: auto;
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        padding: 30px;

        figure {
          width: 40%;
          margin-right: 5%;
          .thumb {
            max-height: 300px;
            img {
              max-height: 300px;
            }
          }
        }
      }

      @include media-breakpoint-up(xl) {
        padding: 45px;

        figure {
          margin-right: 100px;
          width: 50%;

          .thumb {
            // height: 465px;
            .tag {
              width: 260px;
              height: 60px;
            }
          }
        }        
      }

      @include media-breakpoint-up(fu) {
        .category {
          margin-bottom: 2.5rem;
          @include font(24px);
        }
      }

      &.type-publications {
        padding: 0;
        border-color: $color-qua;

        figure {
          background-color: #EAEAEA;

          .thumb {
            height: 250px;
            padding: 20px;

            img {
              width: auto;
            }
          }
        }

        .media-body {
          padding: 30px;

          .buy-now {
            span {
              margin-left: 0.5rem;
              color: bf-color('pri');
            }
          }
        }

        @include media-breakpoint-up(lg) {
          figure {
            .thumb {
              height: 400px;
              padding: 30px;
            }
          }
        }

        @include media-breakpoint-up(xl) {
          figure {
            .thumb {
              height: 500px;
              padding: 50px;
            }
          }

          .media-body {
            padding: 80px 30px 80px 0;
          }
        }
      }
    } // &__post
  }

  .block {
    &__post__publication {
      border: 1px solid $color-ter;
      padding: 20px;

      figure {
        width: 100%;

        .thumb {
          height: 200px;
          position: relative;

          img {
            height: 100%;
            width: auto;
          }

          .tag {
            position: absolute;
            bottom: 0; left: 0;
            width: 115px;
            height: 41px;

            img {
              height: auto;
              max-height: 100%;
              width: auto;
            }
          }
        }
      }      

      // @include media-breakpoint-up(md) {
      //   figure {
      //     .thumb {
            
      //     }
      //   }
      // }

      // @include media-breakpoint-up(lg) {
      //   padding: 30px;

      //   figure {
      //     width: 40%;
      //     margin-right: 5%;
      //     .thumb {
      //       height: 300px;
      //     }
      //   }
      // }

      // @include media-breakpoint-up(xl) {
      //   padding: 45px;

      //   figure {
      //     margin-right: 100px;
      //     width: 50%;

      //     .thumb {
      //       // height: 465px;
      //       .tag {
      //         width: 260px;
      //         height: 60px;
      //       }
      //     }
      //   }        
      // }

      @include media-breakpoint-up(fu) {
        .category {
          margin-bottom: 2.5rem;
          @include font(24px);
        }
      }

      &.type-publications {
        padding: 0;
        border-color: $color-qua;
        
        .font-24 {
          @include font(18px); 
        }
        
        figure {
          background-color: #EAEAEA;

          .thumb {
            height: 250px;
            padding: 20px;

            img {
              width: auto;
            }
          }
        }

        .media-body {
          padding: 30px;

          .buy-now {
            span {
              margin-left: 0.5rem;
              color: bf-color('pri');
            }
          }        
        }
      }
    } // &__post
  }

/* ----------------------------------------- 	blocks */

/* 	pages  */
/* ----------------------------------------- */
  .p {
    &__single {
      @include media-breakpoint-up(md) {
        p {
          @include font(18px);
        }
      }
      @include media-breakpoint-up(xl) {
        h1 {
          @include font(48px);
        }
      }

      &.type-publications {
        header {
          figure {
            width: 100%;
            padding: 20px;
            height: 250px;
            background-color: #EAEAEA;

            img {
              width: auto;
              height: 100%;
            }

            @include media-breakpoint-up(md) {
              padding: 30px;
              height: 350px;
            }
            @include media-breakpoint-up(lg) {
              height: 500px;
              padding: 50px;
            }
            @include media-breakpoint-up(xl) {
              height: 700px;
            }
          }
        }
      } // &.type-publications
    } // &__single
  }
/* ----------------------------------------- 	pages */

/* 	pagination  */
/* ----------------------------------------- */
  .pagination {
    .page-item {
      .page-link {
        border: 0;
        margin: 0;
        padding: 0 .4rem;
        color: bf-color('pri');
        // @include font(24px);

        &:hover {
          background-color: transparent;
          color: bf-color('sec');
        }

        @include media-breakpoint-up(md) {
          padding: 0 1rem;
          @include font(24px);
        }
      }
      &.active {
        .page-link {
          background-color: transparent;
          color: bf-color('sec');
        }
      }
    }
  }
/* ----------------------------------------- 	pagination */

body.blog {
  article.block__post {
    margin-bottom: 3rem !important;
  }
}