/* 	hidden elements  */
/* ----------------------------------------- */
// body {
//   &:not(.user-1) {
//     #adminmenu {
//       li {
//         &#toplevel_page_edit-post_type-acf-field-group,
//         &#toplevel_page_wpseo_dashboard {
//           display: none;
//         }
//       }
//     }
//   }
// }  
/* ----------------------------------------- 	hidden elements */

/* split repeater into blocks */
/* ----------------------------------------- */
#bloco-col-2 {
	.acf-table {
		> tbody {
			> tr {
					float: left;
					width: 50%;
			}
		}
	}
	.acf-repeater .acf-row-handle.order + td {
		width: 96%;
	}
}

#bloco-col-3 {
	.acf-table {
		> tbody {
			> tr {
					float: left;
					width: 33.3333%;
			}
		}
	}
	.acf-repeater .acf-row-handle.order + td {
		width: 96%;
	}
}

#bloco-col-4 {
	.acf-table {
		> tbody {
			> tr {
					float: left;
					width: 25%;
			}
		}
	}
	.acf-repeater .acf-row-handle.order + td {
		width: 96%;
	}
}
/* ----------------------------------------- dividir repeater em blocos */

/* extras acf */
/* ----------------------------------------- */
.acf-field[data-name="social_info"] {
	table.acf-table {
		tr {
			td.acf-fields {
				.icon_preview {
					float: left;
					display: table;
					i {
						font-size: 28px !important;
					}
				}
				.select2-container.-acf {
					width: 90% !important;
					float: right;
				}
			}
		}
	}
}

// .acf-postbox {
// 	h2.hndle {
// 		.acf-hndle-cog {
// 			display: none !important;
// 		}
// 	}
// }
/* ----------------------------------------- extras acf */		