body.login {
  background-color: white;
  
  #login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;  
  }

  h1 a {
    background-image: url('../images/logo-nkg.jpg');
    background-size: contain;
    background-position: center center;
    width: 220px;
    height: 110px;
  }

  #wp-submit {
      background-color: black;
      border: 1px solid darken(black, 5%) !important;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      transition: 250ms ease all;

    &:hover {
      background-color: darken(black, 10%) !important;
    }
  }

}