@import "bootstrap/bootstrap";
@import "bootstrap/mixins";
@import "bfriend-mixins";
@import "bfriend-styles";
@import "bsnav/bsnav";
@import "slick/slick-theme";
@import "slick/slick";
// @import "fa/fontawesome";
@import "fonts";
@import "home";
@import "news-publications";

/* Font Faces */
/* ----------------------------------------- */
  @font-face {
    font-family: 'Metric semibold';
    src: url('../fonts/Metric-Semibold.eot?v=4.1.0');
    src: url('../fonts/Metric-Semibold.eot?#iefix&v=4.1.0') format('embedded-opentype'),
        url('../fonts/Metric-Semibold.woff?v=4.1.0') format('woff'),
        url('../fonts/Metric-Semibold.ttf?v=4.1.0') format('truetype'),
        url('../fonts/Metric-Semibold.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Metric';
    src: url('../fonts/Metric-Regular.eot?v=4.1.0');
    src: url('../fonts/Metric-Regular.eot?#iefix&v=4.1.0') format('embedded-opentype'),
        url('../fonts/Metric-Regular.woff?v=4.1.0') format('woff'),
        url('../fonts/Metric-Regular.ttf?v=4.1.0') format('truetype'),
        url('../fonts/Metric-Regular.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
/* ----------------------------------------- Font Faces */

/* general  */
/* ----------------------------------------- */
  .icon { display: inline-block; }
  
  a {
    color: inherit;
    > * {
      transition: all 150ms ease-in-out;
    }
    &:hover, &:hover * {
      color: bf-color('sec');
    }
  }

  .pink {
    color: bf-color('sec');

    &:hover {
      color: bf-color('pri');
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Metric semibold', sans-serif;
  }

  .bold { @include bold; }

  .font-24 { 
    @include media-breakpoint-up(md) {
      @include font(18px); 
    }
    // @include media-breakpoint-up(lg) {
    //   @include font(20px); 
    // }
    @include media-breakpoint-up(fu) {
      @include font(24px); 
    }
  }

  a {
    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }

  // .container {
  //   @include media-breakpoint-up(xl) {
  //     width: 95% !important;
  //     max-width: 1750px !important;
  //   }
  // }

  .mb-classic {
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 4rem;
    }
    // @include media-breakpoint-up(xl) {
    //   margin-bottom: 6.3rem;
    // }
  }


  .category:not(body) {
    padding: 0.2rem 1.4rem 0.4rem;
    text-transform: uppercase;
    background-color: bf-background('pri');
    color: white;
    display: inline-block;
    @include font(18px);
    @include medium;        
  }
  a.category {
    &:hover {
      background-color: bf-background('sec');
      color: white;
    }
  }

  [data-href] {
    cursor: pointer;
  }
/* ----------------------------------------- general */

/* header */
/* ----------------------------------------- */
  .main-header { 
    #navbar {
      padding: 1rem 0;
      align-items: center;
      background-color: transparent;

      @include media-breakpoint-up(lg) {
        padding: 2rem 0 2rem;
      }

      a h1 {
        color: inherit;
        margin: 0;
        @include font(21px);

        @include media-breakpoint-up(md) {
          @include font(28px);
        }

        @include media-breakpoint-up(xl) {
          padding-top: 0.5rem;
          @include font(36px);
        }
        
        @include media-breakpoint-up(fu) {
          padding-top: 0.5rem;
          @include font(44px);
        }
      }

      .navbar-nav {
        .nav-item {
          color: inherit;
          .nav-link {            
            padding: 0 .7rem;
            @include media-breakpoint-up(md) {
              @include font(19px);
            }
            @include media-breakpoint-up(fu) {
              @include font(24px);
            }
          }
        }

        .nav-search {
          position: relative;
          width: 120px;
          height: 35px;

          .form-control,
          .btn {
            position: absolute;
            top: 0;
          }

          .form-control {
            position: absolute;
            padding: 0;
            border: 0;
            width: 0px;
            right: 30px;
            box-shadow: none;
            @include radius(0);
            @include transition(width 150ms ease-in-out);
          }

          .btn {
            right: 0;
            padding: 0;
            border: 0;
            @include font(30px);
          }

          &:hover {
            .form-control {
              padding: 0 1rem;
              width: 200px;
            }
          }
        }
      }
    }
  }
/* ----------------------------------------- header */

/* Typos */
/* ----------------------------------------- */
  .page-title {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .section-title {    
    // border-bottom: 1px solid #C4C4C4;
    border-bottom: 2px solid rgba(#C4C4C4, $alpha: 0.4);
    font-family: 'Metric Test Medium', 'sans-serif';
    padding-bottom: 0.5rem;
    margin-bottom: 0.5em;    
    @include media-breakpoint-up(lg) {
      border-bottom: 2px solid rgba(#C4C4C4, $alpha: 0.4);
    }
  }  
/* ----------------------------------------- Typos */


/* footer */
/* ----------------------------------------- */
  .main-footer {
    padding: 48px 0 32px;

    .infos {
      margin-top: 32px;
      p {
        margin-bottom: 0;
      }      
    }

    @include media-breakpoint-up(lg) {        
      padding-top: 128px;
      .infos {
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
      }
    }

  }
/* ----------------------------------------- footer */

/* Blocks */
/* ----------------------------------------- */
  .block {
    margin-top: 4rem;

    &-header {
      border-bottom: 1px solid #C4C4C4;
      margin-bottom: 1.2rem;
      position: relative;
      padding-right: 60px;
    }
    

    &-press {
      ul.list-inline {
        @include media-breakpoint-up(lg) {
          columns: 2;
        }
      }
    }
    &-artworks {


      figcaption {
        padding: 12px;
        p {
          font-size: 14px;
          line-height: normal;
          &.title_of_piece {
            font-style: italic;
          }
        }
      }

      &-masonry {
        .block-body {
          padding-top: 20px;
          columns: 3;
          column-gap: 40px;

          a {
            transition: 300ms ease-in-out all;
            &:hover {
              opacity: .85;
            }
          }
          figcaption { 
            text-align: center;
            margin-bottom: 30px;
          }
        }
      } // .block-artworks-masonry
      
      &-grid {

        .block-body {
          padding-top: 20px;
          
          figcaption {
            text-align: center;
          }
          @media screen and (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;
            grid-auto-rows: auto;  
            
            figure {
              img {
                display: block;
                max-height: 555px;
                margin-left: auto;
                margin-right: auto;
              }              
            }
                        
          }

          a {
            transition: 300ms ease-in-out all;
            &:hover {
              opacity: .85;
            }
          }

        }
        &.block-artworks-grid-4 .block-body {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 30px;
        }
      } // .block-artworks-grid
      
      &-grid-2 {

        .block-body {
          padding-top: 20px;
          
          @media screen and (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px 10%;
            grid-auto-rows: auto;  
            max-width: 1340px;
            margin-left: auto;
            margin-right: auto;
            
            figure {
              
              img {
                display: block;
                max-height: 555px;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
                width: auto;
                height: 100%;
                object-fit: contain;
              }
              
            }
                 
          }

          a {
            transition: 300ms ease-in-out all;
            &:hover {
              opacity: .85;
            }
          }

        }
      } // .block-artworks-grid-2

    } // .block-artworks

    &-publications {

      .slick-publications {
        > div {          
          padding: 24px 0 0;
        }

        .s-title {
          text-transform: uppercase;
          span {
            font-size: .8em;
            margin-top: -8px;
            margin-bottom: 12px;
            text-transform: initial;
          }
        }
      }
      .content {
        font-size: .9rem;
        line-height: normal;
        position: relative;       
      }

      @include media-breakpoint-up(md) {
        .slick-slide {
          article {            
            .content-wrapper {
              padding: 24px;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: 8rem;
    }
    
    &-newsletter {
      // input, label, 
      button {
        font-family:"Metric Test Medium";
      }

      button {
        padding: 8px 48px;
        border: 1px solid black;
        background-color: white;
        color: black;
        &:hover {
          color: white;
          background-color: black;
        }

        &[type=submit] {
          color: white;
          background-color: black;

          &:hover {
            background-color: white;
            color: black;
          }

        }
      }

      
      .block-title {
        margin-bottom: 2rem;

        span {
          border-bottom: 2px solid;
          cursor: pointer;
          transition: 300ms ease-in-out all;          
        }

        &:hover  span {
          border-bottom-color: white;
        }
      }

      @include media-breakpoint-up(xl) {
        
        .block-title {
          font-size: 40px;
          max-width: 740px;
          margin-bottom: 3rem;
        }

        .wpcf7 label:not(.normal):not(.error) {
          font-size: 21px;
          height: auto;
          &.has-value {
            color: gray;
            font-size: 14px;
          }
        }

        button[type=submit] {          
          padding: 12px 72px;
          font-size: 18px;
        }


      }


    } // block-newsletter

  } // .blocks
/* ----------------------------------------- Blocks */


/* Artists Pages */
/* ----------------------------------------- */
  .artists-thumb {    
    height: calc(100vh - 200px);
    margin-left: 5%;
    box-sizing: border-box;    
  
    figure {   
      object-fit: contain;
      object-position: left top;
      width: 100%;
      height: 100%;
      flex-direction: column;

      .img-wrapper {
        max-height: 100%;
        height: 100%;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      figcaption {
        font-size: 12px;
        line-height: normal;
        padding: 12px;
        height: 90px;
      }
    }
  }

  .artists-list {
    .active a {
      color: bf-color('sec');
    }
  }

  .single-artists {
    article {
      h1 {
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
      }
    }
  }
/* ----------------------------------------- Artists Pages */


/* ChoicesJS */
/* ----------------------------------------- */
  .choices {
    .choices__inner {
      border: 0;
      background-color: transparent;
      padding: 0;
      border-bottom: 1px solid #C4C4C4;
      border-radius: 0;

      .select-box {
        border: 0;
      }

      .choices__input {
        background-color: transparent;
        margin-bottom: 0;
        border: 0;        
      }
    }
    .choices__list--dropdown.is-active {
      z-index: 15;
    }
    .choices__list--multiple .choices__item {
      border-radius: 2px;
      border: 1px solid black;
      background-color: transparent;
      color: black;
    }
  }

  .wpcf7-form-control-wrap.wpcf7-not-valid .choices .choices__inner {
    border-color: red;
  }
/* ----------------------------------------- ChoicesJS */


/* Local Navigation */
/* ----------------------------------------- */
  .navigation-local {
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      li {        
        width: 100%;
        text-align: center;        
        a {
          text-transform: capitalize;
          padding-top: 24px;
          padding-bottom: 24px;
          font-size: 24px;
          line-height: 30px;
          color: #C4C4C4;
          display: block;
          border-bottom: 2px solid #C4C4C4;
        }

        &.active a, &:hover a {
          color: bf-color('sec');
          border-bottom-color: bf-color('sec');
        }
        
      }
    }
  }  
/* ----------------------------------------- Local Navigation */

/* Scrollbar */
/* ----------------------------------------- */
  .simplebar-track {
    &.simplebar-vertical {
      width: 8px;
    }

    .simplebar-scrollbar.simplebar-visible {
      &::before {
        opacity: 1;
      }
    }
  }
  .simplebar-content {
    padding-right: 16px !important;
    padding-bottom: 40px;
  }
  [data-simplebar="init"] {
    &:before {
      position: absolute;
      content: "";
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0.3) 100%);
      bottom: 0;
      left: 0;
      height: 20px;
      width: 100%;
      z-index: 1;
    }
  }
/* ----------------------------------------- Scrollbar */

.p__single--content {
  p a, a {
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

/* Single Exhibition */
/* ----------------------------------------- */
  body.single-exhibitions {
    .s-title {
      margin-top: 2rem;
    }
    
    @include media-breakpoint-up(lg) {
      .p__single--content {
        height: 300px;
      }  
    }


    .exhibition-teaser {
      .category {
        font-size: 0.9rem;
        border: 1px solid black;
        color: black;
        background-color: transparent;
        padding: 0.2rem 1.5rem 0.3rem;

        &:hover {
          border-color: bf-color('sec');
          color: bf-color('sec');
        }
      }
      .s-title {
        margin-top: 1rem;
      }
    }

  }  
/* ----------------------------------------- Single Exhibition */


/* Info */
/* ----------------------------------------- */
  body.page-template-templatespage-contact-php {    
    .p__company--content {
      margin: 30px auto;
    }
    
    @include media-breakpoint-up(md) {
      .infos {
        flex-wrap: wrap;
        > * {
          width: 50%;
          flex-shrink: 0;
        }
      }
      .p__company--content {
        // max-width: 80%;
        margin: 60px auto;
      }      
    }
    @include media-breakpoint-up(lg) {
      .infos {
        flex-wrap: nowrap;
        > * {
          width: auto;
        }
      }
    }
  }  
/* ----------------------------------------- Info */

.slick-home-artists, .slick-home-add-artists {
  @include media-breakpoint-up(sm) {
    columns: 2;
  }
  @include media-breakpoint-up(lg) {
    columns: 3;
  }
}

@include media-breakpoint-up(fu) {
  .section-title {
    @include h1();
  }
}

.artists--subtitle {
  font-size: 18px;
  line-height: normal;
  display: block;
  margin-top: -15px;
  margin-bottom: 15px;
}

.btn-price-number + form {
  display: none;
}

.price{
  position: relative;
}

.close-btn{
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
}

.shipping-method-wrapper{
  background-color: #FFF;
  position: absolute;
  display: block;
  width: 290px;
  height: 130px;
  top: 0;
  left: 0;
  padding: 20px;
  opacity: 1;
  border: 1px solid #E6E6E6;
  transition: height .6s ease-in-out;
  z-index: 1;
  &.on-single{
    bottom: -50px;
    top: inherit;
  }
  &.hide{
    height: 65px;
    opacity: 0;
    transition: height .6s ease-in-out;
    z-index: -9999;
  }
  form {
    display: none;
  }
  .buy-domestic-shipping,
  .buy-international-shipping{
    display: block;
  }
}

.post-type-archive-publications {
  .block__post__publication {
    min-width: 100%;
  }
}

.block__post__publication {
  .s-title {
    text-transform: uppercase;
    span {
      text-transform: initial;      
      display: block;
      margin-top: -10px;
      margin-bottom: 10px;
      font-size: 0.9em;
    }
  }
}

.thin-italic {
  font-family:"Metric Test Thin Italic";
}

/* 3D Tour */
/* ----------------------------------------- */
  #tour iframe {
    width: 100%; 
  }
/* ----------------------------------------- 3D Tour */


/* Single Publications */
/* ----------------------------------------- */
  .btn-preview {
   background-color: black;
   border: 1px solid black;
   color: white;
   border-radius: 0;
   font-family: 'Metric Test Medium', 'sans-serif';
   transition: 300ms ease-in-out all;
   padding-left: 1rem;
   padding-right: 1rem;   
  }

  .single-publications {
    header .btn-preview {
      margin-bottom: 20px;
      margin-top: 10px;
      float: right;
    }
    .rank-math-breadcrumb > p {
      margin-bottom: 0;
    }
    a.publication-preview:hover .btn-preview, .btn-preview:hover {      
      background-color: white;
      color: black;
    }

    .s-title {
      text-transform: uppercase;
      span {
        text-align: center;
        text-transform: initial;
        font-size: .8em;
      }
    }

    @include media-breakpoint-up(md) {
      header .btn-preview {
        padding: 12px 24px;
        font-size: 20px;
        margin-top: 20px;
      }
    }
  }

/* ----------------------------------------- Single Publications */


/* Fancybox */
/* ----------------------------------------- */
  // Hide navigation in mobile
  @include media-breakpoint-down(sm) {
    .fancybox-button {
      &.fancybox-button--arrow_left, &.fancybox-button--arrow_right {
        opacity: 0 !important;
      }
    }
  }
/* ----------------------------------------- Fancybox */

/* Breacrumbs */
/* ----------------------------------------- */
  .rank-math-breadcrumb {
    a, p, span {
      font-family: 'Metric Test Thin Italic';
    }
  }  
/* ----------------------------------------- Breacrumbs */

// Hide Recaptcha badge
.grecaptcha-badge{
  opacity: 0 !important;
  display: none !important;
  overflow: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

.metric-100 {
  font-family: 'Metric Test Thin';
}
/* Btns */
/* ----------------------------------------- */
  .btn-inquire {
    border: 1px solid lightgray;
    padding: 8px 12px;
    display: inline-block;
    transition: 300ms ease-in-out all;
    color: inherit;

    &:hover {
      background-color: black;
      color: white;
    }
  }
/* ----------------------------------------- Btns */


/* Online Exhibitions */
/* ----------------------------------------- */
  .flexible-content-wrapper {
    > .flexible-content {
      margin-bottom: 100px; 
      &:last-of-type {
        margin-bottom: 200px;
      }
      
      &.text_content {
        .col-md-8 {
          *:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }  
/* ----------------------------------------- Online Exhibitions */


/* Dark Theme */
/* ----------------------------------------- */
  .dark-theme {
    background-color: black;
    color: white;

    .navbar-brand {
      color: white;
    }
    
    .pink {
      color: white;
      text-decoration: underline !important;
    }
  }
/* ----------------------------------------- Dark Theme */
