/* 	hidden elements  */
/* ----------------------------------------- */
/* ----------------------------------------- 	hidden elements */
/* split repeater into blocks */
/* ----------------------------------------- */
#bloco-col-2 .acf-table > tbody > tr {
  float: left;
  width: 50%; }

#bloco-col-2 .acf-repeater .acf-row-handle.order + td {
  width: 96%; }

#bloco-col-3 .acf-table > tbody > tr {
  float: left;
  width: 33.3333%; }

#bloco-col-3 .acf-repeater .acf-row-handle.order + td {
  width: 96%; }

#bloco-col-4 .acf-table > tbody > tr {
  float: left;
  width: 25%; }

#bloco-col-4 .acf-repeater .acf-row-handle.order + td {
  width: 96%; }

/* ----------------------------------------- dividir repeater em blocos */
/* extras acf */
/* ----------------------------------------- */
.acf-field[data-name="social_info"] table.acf-table tr td.acf-fields .icon_preview {
  float: left;
  display: table; }
  .acf-field[data-name="social_info"] table.acf-table tr td.acf-fields .icon_preview i {
    font-size: 28px !important; }

.acf-field[data-name="social_info"] table.acf-table tr td.acf-fields .select2-container.-acf {
  width: 90% !important;
  float: right; }

/* ----------------------------------------- extras acf */
