body.login {
  background-color: white; }
  body.login #login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px; }
  body.login h1 a {
    background-image: url("../images/logo-nkg.jpg");
    background-size: contain;
    background-position: center center;
    width: 220px;
    height: 110px; }
  body.login #wp-submit {
    background-color: black;
    border: 1px solid black !important;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    transition: 250ms ease all; }
    body.login #wp-submit:hover {
      background-color: black !important; }
