
@font-face {
    font-family:"Metric Test Black Italic";
    src:url("MetricTest-BlackItalic.woff2") format("woff2"),url("MetricTest-BlackItalic.woff") format("woff"),url("MetricTest-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        