
@font-face {
    font-family:"Metric Test Semibold";
    src:url("MetricTest-Semibold.woff2") format("woff2"),url("MetricTest-Semibold.woff") format("woff"),url("MetricTest-Semibold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        