
@font-face {
    font-family:"Metric Test Semibold Italic";
    src:url("MetricTest-SemiboldItalic.woff2") format("woff2"),url("MetricTest-SemiboldItalic.woff") format("woff"),url("MetricTest-SemiboldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        