
@font-face {
    font-family:"Metric Test Medium Italic";
    src:url("MetricTest-MediumItalic.woff2") format("woff2"),url("MetricTest-MediumItalic.woff") format("woff"),url("MetricTest-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        