
@font-face {
    font-family:"Metric Test Bold Italic";
    src:url("MetricTest-BoldItalic.woff2") format("woff2"),url("MetricTest-BoldItalic.woff") format("woff"),url("MetricTest-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        