
@font-face {
    font-family:"Metric Test Thin Italic";
    src:url("MetricTest-ThinItalic.woff2") format("woff2"),url("MetricTest-ThinItalic.woff") format("woff"),url("MetricTest-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        