
@font-face {
    font-family:"Metric Test Regular";
    src:url("MetricTest-Regular.woff2") format("woff2"),url("MetricTest-Regular.woff") format("woff"),url("MetricTest-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        