
@font-face {
    font-family:"Metric Test Bold";
    src:url("MetricTest-Bold.woff2") format("woff2"),url("MetricTest-Bold.woff") format("woff"),url("MetricTest-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        