
@font-face {
    font-family:"Metric Test Regular Italic";
    src:url("MetricTest-RegularItalic.woff2") format("woff2"),url("MetricTest-RegularItalic.woff") format("woff"),url("MetricTest-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        