
@font-face {
    font-family:"Metric Test Light Italic";
    src:url("MetricTest-LightItalic.woff2") format("woff2"),url("MetricTest-LightItalic.woff") format("woff"),url("MetricTest-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        