
@font-face {
    font-family:"Metric Test Black";
    src:url("MetricTest-Black.woff2") format("woff2"),url("MetricTest-Black.woff") format("woff"),url("MetricTest-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        