
@font-face {
    font-family:"Metric Test Medium";
    src:url("MetricTest-Medium.woff2") format("woff2"),url("MetricTest-Medium.woff") format("woff"),url("MetricTest-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        