
@font-face {
    font-family:"Metric Test Thin";
    src:url("MetricTest-Thin.woff2") format("woff2"),url("MetricTest-Thin.woff") format("woff"),url("MetricTest-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        